body{
    display: flex;
    flex-direction: column;
    background-image: url(8314.jpg);
    background-size: 500px;
}
.contenedor{
    margin:auto;
    background-color: #f9f9f9;
    
}
.titulo{
    text-align: center;
}
.content{
    text-align: center;
}
.cora{
    background-color: #f9f9f9;

}


.love{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background: red;
    position: relative;
    top: 10rem;
    left: 15rem;

}

.love::after,.love::before{
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
}
.love::before{
    top: 0;
    left: -55px
}
.love::after{
    top: -55px
}


.titulo{
    font-size:20px;
}

.galeria{
    display: flex;
    flex-direction: column;
    height: 90%;
    bottom: 100px;
    text-align: center;
}
.card{
    background-color: #f9f9f9;
}

